<div><%= button_to t('views.logout'), destroy_user_session_path, method: :delete, class: "btn btn-primary", style: "margin-top: 10px; margin-left: 857px" %></div>
<h1><%= t('views.documents_table.uploaded_documents') %></h1>

<table>
  <tr>
    <th><%= t('views.documents_table.title') %></th>
    <th><%= t('views.documents_table.file') %></th>
    <th><%= t('views.documents_table.uploaded_at') %></th>
    <th><%= t('views.documents_table.actions') %></th>
  </tr>

  <% @documents.each do |document| %>
    <% document.processed_documents.each do |processed_document| %>
      <tr>
        <td><%= processed_document.file_name %></td>
        <td><%= document.file.filename %></td>
        <td><%= document.created_at.strftime(t('time.formats.default')) %></td>
        <td>
          <% if document.processed_documents.any? %>
            <%= link_to t('views.documents_table.generate_reports'), report_path(processed_document.id) %>
          <% else %>
            <p><%= t('views.documents_table.report_not_available') %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

</table>

<%= link_to t('views.documents_table.upload_new_document'), new_document_path %>
