<p><%= t('views.report_details.icms') %>: <%= @report_data[:impostos][:icms] %></p>
<p><%= t('views.report_details.ipi') %>: <%= @report_data[:impostos][:ipi] %></p>
<p><%= t('views.report_details.pis') %>: <%= @report_data[:impostos][:pis] %></p>
<p><%= t('views.report_details.cofins') %>: <%= @report_data[:impostos][:cofins] %></p>
