
<% products.each do |produto| %>
  <p><%= t('views.report_details.product_name') %>: <%= produto[:nome] %></p>
  <p><%= t('views.report_details.ncm') %>: <%= produto[:ncm] %></p>
  <p><%= t('views.report_details.cfop') %>: <%= produto[:cfop] %></p>
  <p><%= t('views.report_details.unit') %>: <%= produto[:unidade_comercializada] %></p>
  <p><%= t('views.report_details.quantity') %>: <%= produto[:quantidade_comercializada] %></p>
  <p><%= t('views.report_details.unit_price') %>: <%= produto[:valor_unitario] %></p>
<% end %>
