<h2><%= t('views.report_details.totalizers') %></h2>
<p><%= t('views.report_details.total_products') %>: <%= @report_data[:totalizadores][:total_produtos] %></p>
<p><%= t('views.report_details.total_taxes') %>: <%= @report_data[:totalizadores][:total_impostos] %></p>
